.community{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.btn{
    background-color: #28b485 !important;
}
.btn:hover{
    background-color: #000 !important;
    color: #fff !important;
    cursor: pointer;
}